/DNS_report/1_1.png
/DNS_report/1_2.png
/DNS_report/1_3.png
/DNS_report/2_1.png
/DNS_report/2_2.png
/DNS_report/2_3.png
/DNS_report/2_4.png
/DNS_report/3_1.png
/DNS_report/3_2.png
/DNS_report/3_3.png
/DNS_report/4_1.png
/DNS_report/4_2.png
/DNS_report/4_3.png
/DNS_report/4_4.png
/DNS_report/4_5.png
/DNS_report/main.aux
/DNS_report/main.fdb_latexmk
/DNS_report/main.fls
/DNS_report/main.log
/DNS_report/main.pdf
/DNS_report/main.synctex.gz
/DNS_report/main.tex
/DNS_report_koppisetty.pdf
